extends ../../layouts/default.pug
include ../../mixin/checkbox.pug

block main
  .card
    .card-header
      .row.align-items-center
        .col
          h4.card-title #{pageTitle}
    .card-body.pt-0
      form(id="roleEditForm")
        input.form-control(id="id" type="text" name="id" value=`${role.id}` hidden) 
        .row
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="name") Tên nhóm quyền *
              input.form-control(id="name" type="text" name="name" value=`${role.name}`) 
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="description") Mô tả ngắn
              input.form-control(id="description" type="text" name="description" value=`${role.description}`)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label Phân quyền
              div(class="checkbox-item" style=`margin-left: 0px`)
                  input#checkAll(type="checkbox")
                  label(for=`checkAll`) Chọn tất cả
              div(class="checkbox-list" checkbox-list="permissions")
                +category_checkbox_list(permissionList,0,role.permissions)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="status") Trạng thái
              select.form-select(id="status" name="status")
                option(value="active" selected=(role.status == "active")) Hoạt động
                option(value="inactive" selected=(role.status == "inactive")) Tạm dừng
        button.btn.btn-primary(type="submit") Tạo mới
        a.btn.btn-danger.ms-1(href=`${prefixAdmin}/role/list`) Hủy
