.startbar.d-print-none
    // start brand
    .brand
      a.logo(href=`${prefixAdmin}/dashboard`)
        span
          img.logo-sm(
            alt="logo-small" 
            src=`${prefixAdmin}/assets/images/logo-sm.png`
            )
        span
          img.logo-lg.logo-light(
            alt="logo-large" 
            src=`${prefixAdmin}/assets/images/logo-light.png`
            )
          img.logo-lg.logo-dark(
            alt="logo-large" 
            src=`${prefixAdmin}/assets/images/logo-dark.png`
            )
    // end brand
    // start startbar-menu
    .startbar-menu
      #startbarCollapse.startbar-collapse(data-simplebar="")
        .d-flex.align-items-start.flex-column.w-100
          // Navigation
          ul.navbar-nav.mb-auto.w-100
            li.menu-label.pt-0.mt-0
              span Main Menu
            li.nav-item
              a.nav-link(
                aria-controls="sidebarDashboards" 
                aria-expanded="false" 
                role="button" 
                data-bs-toggle="collapse" 
                href="#sidebarDashboards"
                )
                i.iconoir-home-simple.menu-icon
                span Dashboards
              #sidebarDashboards.collapse
                ul.nav.flex-column
                  li.nav-item
                    a.nav-link(href="index.html") Analytics
                  // end nav-item
                  li.nav-item
                    a.nav-link(href="ecommerce-index.html") Ecommerce
                  // end nav-item
                // end nav
              // end startbarDashboards
            // end nav-item
            li.nav-item
              a.nav-link(
                aria-controls="sidebarArticle" 
                aria-expanded="false" 
                role="button" 
                data-bs-toggle="collapse" 
                href="#sidebarArticle"
                )
                i.iconoir-view-grid.menu-icon
                span Bài viết
              #sidebarArticle.collapse
                ul.nav.flex-column
                  li.nav-item
                    a.nav-link(href=`${prefixAdmin}/article/create`) Tạo mới bài viết
                  // end nav-item
                  li.nav-item
                    a.nav-link(href=`${prefixAdmin}/article/list`) Danh sách bài viết
                  // end nav-item
                  li.nav-item
                    a.nav-link(href=`${prefixAdmin}/article/category`) Danh mục bài viết
                  // end nav-item
                // end nav
              
            li.nav-item
              a.nav-link(
                role="button" 
                href=`${prefixAdmin}/file/iframe`
              )
                i.iconoir-multiple-pages.menu-icon
                span Files
            li.nav-item
              a.nav-link(
                aria-controls="sidebarRoles" 
                aria-expanded="false" 
                role="button" 
                data-bs-toggle="collapse" 
                href="#sidebarRoles"
                )
                i.iconoir-view-grid.menu-icon
                span Nhóm quyền
              #sidebarRoles.collapse
                ul.nav.flex-column
                  li.nav-item
                    a.nav-link(href=`${prefixAdmin}/role/create`) Tạo nhóm quyền
                  // end nav-item
                  li.nav-item
                    a.nav-link(href=`${prefixAdmin}/role/list`) Danh sách nhóm quyền
            li.nav-item
              a.nav-link(
                aria-controls="sidebarAccountAdmin" 
                aria-expanded="false" 
                role="button" 
                data-bs-toggle="collapse" 
                href="#sidebarAccountAdmin"
                )
                i.iconoir-view-grid.menu-icon
                span Tài khoản quản trị viên
              #sidebarAccountAdmin.collapse
                ul.nav.flex-column
                  li.nav-item
                    a.nav-link(href=`${prefixAdmin}/account-admin/create`) Tạo tài khoản
                  // end nav-item
                  li.nav-item
                    a.nav-link(href=`${prefixAdmin}/account-admin/list`) Danh tài khoản
                  
  
.startbar-overlay.d-print-none